.header {
    background-color: #002140;
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

.chart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: transparent;
}
