.header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    Width: 100%;
    Height: 72px;
    background: linear-gradient(90deg, #061846 26.65%, #283F66 96.3%);
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15);
}

.header_text {
    height: 27px;
    position: absolute;
    left: 1.19%;
    right: 84.85%;
    top: 28.56%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    color: #FFFFFF;

}

.content {
    box-sizing: border-box;
    position: absolute;
    width: 499px;
    height: 570px;
    left: 914px;
    top: 269px;
    background: linear-gradient(180deg, rgba(6, 24, 70, 0.88) 0%, #415E8D 100%);
    border: 1px solid #C7C3C3;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    z-index: -1;
}

.login_logo {
    position: absolute;
    width: 186px;
    height: 186px;
    left: 1062px;
    top: 172px;

    background: #ED762F;
}

.side_text {
    position: absolute;
    width: 331px;
    height: 101px;
    left: 228px;
    top: 282px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;

    line-height: 50px;
    margin: 0px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    color: #071947;
}

.side_img {
    position: absolute;
    width: 380px;
    height: 277px;
    left: 202px;
    top: 434px;

}

.form_login {
    margin: 4rem 2rem;
}

.forms {
    box-sizing: border-box;
    margin: 4rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 15px;
    gap: 8px;

    position: absolute;
    width: 204px;
    height: 36px;
    left: 830px;
    top: 592px;

    background: #FCFDFF;
    border: 2px solid rgba(237, 118, 47, 0.46);

    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
}

.forget {



    color: #99CEFF;
}

.confirm {
    background: #ED762F;
    border: 1px solid #F79357;

    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    width: 180px;
}

.reset {
    background: #FCFDFF;
    border: 2px solid rgba(237, 118, 47, 0.46);

    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    width: 180px
    ;
}

.btns {
    margin-left: 7rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 15px;
    gap: 8px;
    width: 204px;
    height: 36px;
}



.hr{
    border-radius: 28px;
    margin: 1rem;
    padding: 1px;
    background-color: white;
}



.ant-form-item-required {
    color: #ffffff;
}

.form_text_box{
    background-color: rgba(255,255,0,0);
    border: none;
    color: white
}

.alert{
    position: absolute;
    top: -29rem;
    left: -14rem;
    width: 27rem;
    border-radius: 0px;
}

.popupconfir{
    position: absolute;
    background-color: white;
    width: 558px;
    top: -26rem;
    left: -37rem;
}